<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <body>
        <h1>{{ cuisine.getType }}</h1>

        {% if restaurants is not empty %}
            <p>Here are all your restaurants:</p>
            <ul>
                {% for restaurant in restaurants %}
                    <li>{{ restaurant.getName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>None Added Yet</p>
        {% endif %}

        <h4>Add a restaurant</h4>


        <form action='/restaurants/{{ cuisine.getId }}' method='post'>
            <input id="cuisine_id" name="cuisine_id" type="hidden" value="{{ cuisine.getId()}}">
            <label for='name'>Restaurant name</label>
            <input id='name' name='name' type='text'></br>
            <label for='description'>Restaurant description</label>
            <input id='description' name='description' type='text'></br>
            <label for='website'>Restaurant website</label>
            <input id='website' name='website' type='text'></br>
            <label for='location'>Restaurant location</label>
            <input id='location' name='location' type='text'></br>
            <label for='phone'>Restaurant phone</label>
            <input id='phone' name='phone' type='text'>

            <button type='submit'>Add restaurant</button>
        </form>
        <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine</a></p>
        <p><a href='/'>Home</a></p>
    </body>
</html>
